<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Colissimo_Rule::colissimo_rule" title="Colissimo Rules" translate="title" module="Colissimo_Rule" parent="Magento_CatalogRule::promo" sortOrder="40" action="colissimo_rule/colissimo_rule/" dependsOnModule="Magento_Sales" resource="Colissimo_Rule::colissimo_rule"/>
    </menu>
</config>
