<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="colissimo_append_method">
        <observer name="colissimo.rule" instance="Colissimo\Rule\Observer\UpdateShippingObserver" />
    </event>
</config>